body {
  background-color: coral;
  font-family: 'Abril Fatface';font-size: 100px;
}

p {
  color: yellow;
}

#main {
  line-height: 1.6;
  padding-top: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
  padding-left: 650px;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
}

#header {
  text-align: left;
  text-shadow: 8px 8px #2152cf;
  position: fixed;
  top: 100px;
  left: 150px;
  bottom: 100px;
  line-height: .8
}

#ocean {
  margin-left: 0;
  margin-right: 0;
  width: 2560px;
  height: 1440px;
  max-width: 100%;
}

img {
  width: 50%

}
